# dependencies
node_modules

# misc
.DS_Store

# ide
/.vscode
/.idea

# production
dist


# @mango-scripts/react-scripts
/packages/react-scripts/example/


# @mango-scripts/i18n-scripts


# @mango-scripts/i18n-utils
/packages/i18n-utils/example/contentHash/
/packages/i18n-utils/es/
/packages/i18n-utils/lib/

